VITE_STRIPE_KEY=your_stripe_publishable_key

VITE_S3_BUCKET=your_s3_bucket_name
VITE_S3_REGION=us-east-1

VITE_API_GATEWAY_URL=https://your-api-id.execute-api.us-east-1.amazonaws.com/prod
VITE_API_GATEWAY_REGION=us-east-1

VITE_COGNITO_REGION=us-west-2
VITE_COGNITO_USER_POOL_ID=your_user_pool_id
VITE_COGNITO_APP_CLIENT_ID=your_app_client_id
VITE_COGNITO_IDENTITY_POOL_ID=your_identity_pool_id
