// @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}
$font-family: "Fira Code", sans-serif;
$font-family-bold: "Fira Code Bold", sans-serif;
$base-font-size: 16px;
$big: 125%;
$primary: rgb(0, 47, 60);
$primary-yellow: #fdf767;
.big {
  font-size: $big;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
}

.form-group {
  input {
    color: #333;
  }
}

.text-giant {
  font-size: 4rem;
  line-height: 1.2;
}

.text-shadow-green-bold {
  text-shadow: 4px 5px 0px #58aa20;
}