.btn {
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff; }

.btn-primary {
  background-color: #66CBF7; }
  .btn-primary:hover {
    background-color: #C0DDF0; }
  .btn-primary:active {
    position: relative;
    top: 1px; }
