.btn {
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
}

.btn-primary {
  background-color: #66cbf7;
}
.btn-primary:hover {
  background-color: #c0ddf0;
}
.btn-primary:active {
  position: relative;
  top: 1px;
}
